In [1]:
import pandas as pd

Task 7: Encoding Categorical Variables

Dataset: Students Performance Dataset

In [2]:
# Loading the dataset
st_df = pd.read_csv('/content/exams.csv')
st_df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

In [3]:
# Inspect the dataset
st_df.shape

(1000, 8)

In [4]:
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
st_df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
st_df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [7]:
# Checking Missing Values
st_df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [8]:
# Convert the 'gender' Column to Dummy variables
st_encoded = pd.get_dummies(st_df, columns=['gender'], dtype=int)
st_encoded.head(10)

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,gender_female,gender_male
0,group A,high school,standard,completed,67,67,63,0,1
1,group D,some high school,free/reduced,none,40,59,55,1,0
2,group E,some college,free/reduced,none,59,60,50,0,1
3,group B,high school,standard,none,77,78,68,0,1
4,group E,associate's degree,standard,completed,78,73,68,0,1
5,group D,high school,standard,none,63,77,76,1,0
6,group A,bachelor's degree,standard,none,62,59,63,1,0
7,group E,some college,standard,completed,93,88,84,0,1
8,group D,high school,standard,none,63,56,65,0,1
9,group C,some college,free/reduced,none,47,42,45,0,1

In [9]:
# Convert Both 'lunch, test preparation course' Columns to Dummy Variables
st_encoded = pd.get_dummies(st_encoded, columns=['lunch', 'test preparation course'], dtype=int)
st_encoded.head(7)

,race/ethnicity,parental level of education,math score,reading score,writing score,gender_female,gender_male,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,group A,high school,67,67,63,0,1,0,1,1,0
1,group D,some high school,40,59,55,1,0,1,0,0,1
2,group E,some college,59,60,50,0,1,1,0,0,1
3,group B,high school,77,78,68,0,1,0,1,0,1
4,group E,associate's degree,78,73,68,0,1,0,1,1,0
5,group D,high school,63,77,76,1,0,0,1,0,1
6,group A,bachelor's degree,62,59,63,1,0,0,1,0,1

In [10]:
st_encoded.dtypes

race/ethnicity                       object
parental level of education          object
math score                            int64
reading score                         int64
writing score                         int64
gender_female                         int64
gender_male                           int64
lunch_free/reduced                    int64
lunch_standard                        int64
test preparation course_completed     int64
test preparation course_none          int64
dtype: object

In [11]:
# Create CSV File of Cleaned dataset
st_encoded.to_csv('Students_performance cleaned.csv', index=False)

In [12]:
# Read the Cleaned dataset
df = pd.read_csv('/content/Students_performance cleaned.csv')
df.head()

,race/ethnicity,parental level of education,math score,reading score,writing score,gender_female,gender_male,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,group A,high school,67,67,63,0,1,0,1,1,0
1,group D,some high school,40,59,55,1,0,1,0,0,1
2,group E,some college,59,60,50,0,1,1,0,0,1
3,group B,high school,77,78,68,0,1,0,1,0,1
4,group E,associate's degree,78,73,68,0,1,0,1,1,0